<footer class="md:mx-auto bg-primary-800 inset-x-0 bottom-0 w-full">
  <div
    data-twe-ripple-init
    data-twe-ripple-color="light"
    class="px-6 py-2.5 text-xs font-medium uppercase leading-normal text-white shadow-md  hover:shadow-lg focus:shadow-lg focus:outline-none focus:ring-0 active:shadow-lg">

    <div class = "flex flex-row justify-center p-6">
      <a href="https://www.facebook.com/profile.php?id=61559314076983">
        <mat-icon svgIcon="facebookIcon" class="mx-4"/>
      </a>
      <a href="https://www.instagram.com/eco_move__/">
        <mat-icon svgIcon="instagramIcon" class="mx-4"/>
      </a>
      <a href="https://twitter.com/Eco__Move">
        <mat-icon svgIcon="twitterIcon" class="mx-4"/>
      </a>
      <a href="https://www.youtube.com/channel/UCGcHPKyyd3Bx86u_YMTGbXA">
        <mat-icon svgIcon="youtubeIcon" class="mx-4"/>
      </a>
      <a href="https://www.reddit.com/user/Eco_Move_/">
        <mat-icon svgIcon="redditIcon" class="mx-4"/>
      </a>
    </div>

    <div class="flex items-center align-middle justify-center">
      <div class='w-[25%] max-w-[500px] h-[2px] bg-white mx-5'></div>
      <img src="../../../../assets/images/logo.png" width="80" class="mx-2">
      <p class = "flex text-white text-5xl normal-case p-0 m-0 ">EcoMove</p>
      <div class='flex w-[25%] max-w-[500px] h-[2px] bg-white mx-5'></div>
    </div>
    <p class = "text-center text-xs normal-case">2024 EcoMove</p>
    <div class = "flex flex-row align-middle justify-center gap-3">
      <p class = "text-center text-sm m-2 underline normal-case">Información legal</p>
      <p class = "text-center text-sm m-2 underline normal-case">Política de privacidad</p>
    </div>

  </div>
</footer>