<mat-toolbar>
  <mat-toolbar-row class="bg-nav-blue gap-6 flex text-white">
    <span>Ecomove</span>
    <span class="flex-1"></span>
    <a [routerLink]="['/home']"><span class="">Inicio</span></a>
    <a [routerLink]="['/vehicles']"><span>Vehiculos</span></a>
    <a [routerLink]="['/memberships']"><span>Suscripciones</span></a>
    <a [routerLink]="['/reservation']"><span>Reservar</span></a>
    <a [routerLink]="['/profile']"><mat-icon class="text-4xl !w-10 !h-10 align-middle" fontIcon="account_circle"></mat-icon></a>
  </mat-toolbar-row>
</mat-toolbar>