<mat-toolbar>
  <mat-toolbar-row class="bg-primary-800 flex justify-between text-white">
    <div class="flex justify-center items-center gap-2">
      <img src="../../../../assets/images/logo.png" class="w-12 h-12 align-middle" alt="Ecomove logo">
      <span>EcoMove</span>
    </div>
    
    <div class="flex gap-6 items-center">
      <a routerLink="/home" class="hidden sm:block"><span class="">Inicio</span></a>
      <a routerLink="/vehicles" class="hidden sm:block"><span>Vehiculos</span></a>
      <a routerLink="/memberships" class="hidden sm:block"><span>Suscripciones</span></a>
      <a routerLink="/reservation" class="hidden sm:block"><span>Reservar</span></a>
      <a routerLink="/settings">
        <mat-icon class="text-4xl !w-10 !h-10 align-middle" fontIcon="account_circle"></mat-icon>
      </a>
    </div>
  </mat-toolbar-row>
</mat-toolbar>