<main class="p-6 w-full bg-primary-200">
  <div class="py-10 gap-8 flex flex-col justify-center items-center bg-primary-400 w-11/12 border-2 border-solid border-black rounded-lg m-auto h-[73.1dvh]">
    <h1 class="text-center !text-5xl !font-medium">REGÍSTRATE</h1>
    <app-register-form class="w-full"></app-register-form>
    <p>o ingresa con</p>
    <div class="flex gap-8">
      <app-google-register></app-google-register>
      <app-facebook-register></app-facebook-register>
    </div>
  </div>
</main>
<app-footer></app-footer>
