<div class="bg-primary-200">
  <p class="text-4xl text-center pt-48 pb-20 font-bold uppercase text-balance md:text-7xl">Introduce este código para poder usar el vehículo</p>
  <div class="w-full justify-center flex pb-6">
    <div class ="bg-primary-400  flex justify-center items-center rounded-lg border-black border-4 max-w-[70%] md:max-w-[25%]">
      <span class="flex text-xl md:text-4xl  px-8 font-bold">#{{randomNumber}}</span>
    </div>
  </div>
  <div class="flex justify-center pb-40">
    <button mat-flat-button color="primary" (click)="getNumber()">Volver a generar</button>
  </div>
</div>
