<app-navbar></app-navbar>
<main class="h-fit w-full py-10 bg-primary-200 flex flex-col">
    <div class="w-full bg-primary-400 flex justify-center items-center py-16">
        <h1 class="md:!text-5xl text-3xl !font-semibold text-center align-middle uppercase !font-kumbh-sans">Mejorando tus rutas</h1>
    </div>
    <div class="w-full flex justify-center flex-col items-center py-10">
        <h2 class="md:!text-3xl !font-semibold text-center align-middle !font-kumbh-sans">En EcoMove, contamos con una gran variedad de vehiculos a tu disposición</h2>
        <div class=" flex flex-col gap-20 h-fit w-full p-10">
            <div class="grid grid-cols-1 md:grid-cols-2 xl:grid-cols-4 gap-24 justify-center items-center justify-items-center">
                @for (vehicle of vehicles; track vehicle) {
                    <div routerLink="vehicle/{{vehicle.model}}" aria-label="vehicle info"  class="w-80 h-[390px]">
                        <mat-card class="w-full h-full !rounded-xl" aria-label="vehicle info card">
                            <img mat-card-image src="{{vehicle.imageURL}}" aria-label="scooter image" class="h-80">
                            <mat-card-content class="bg-primary-500 !rounded-b-xl object-cover w-full !flex justify-center">
                                <span class="!font-kumbh-sans !font-semibold p-4 justify-center items-center text-center !text-xl w-full">{{vehicle.model}}</span>
                            </mat-card-content>
                        </mat-card>
                    </div>

                }
            </div>

          <div class="flex flex-col md:flex-row gap-12 justify-center">
            <button mat-button routerLink="/available-vehicles" class="!bg-primary-800 !text-white !rounded-xl !font-kumbh-sans !px-5 !py-7 font-medium">
              Ver vehículos cercanos
            </button>
            <button mat-button routerLink="/reviews" class="!bg-primary-800 !text-white !rounded-xl !font-kumbh-sans !px-5 !py-7 font-medium">
              Reseñas y calificaciones
            </button>
          </div>

        </div>
    </div>
</main>
<app-footer></app-footer>
