
<div class="flex flex-col items-center justify-center min-h-screen w-full">
  <h1 class="!text-4xl !font-semibold mb-8 text-center">INGRESE DATOS DE LA TARJETA</h1>

    <div class="mb-8 mt-10 bg-blue-200 py-10 px-32 w-[70%] !rounded-xl">
      <form class="flex flex-col items-center justify-center  ">
        <mat-form-field class="w-[90%] mb-4">
          <mat-label>Nro. de tarjeta</mat-label>
          <input matInput placeholder="Ingrese el número de tarjeta">
          <mat-icon matPrefix>credit_card</mat-icon>
        </mat-form-field>

        <mat-form-field appearance="fill" class="w-[90%] mb-4">
          <mat-label>Fecha de vencimiento</mat-label>
          <input matInput placeholder="MM/AA">
          <mat-icon matPrefix>event</mat-icon>
        </mat-form-field>

        <mat-form-field appearance="fill" class="w-[90%] mb-4">
          <mat-label>CVV</mat-label>
          <input matInput placeholder="Ingrese el CVV">
          <mat-icon matPrefix>lock</mat-icon>
        </mat-form-field>

        <div class="flex justify-center"> <!-- Contenedor para centrar el botón -->
          <button mat-raised-button type="submit" class="bg-blue-200 hover:bg-blue-200 text-white font-bold py-2 px-4 !rounded-xl">Siguiente</button>
        </div>
      </form>
    </div>

</div>

