<div class="bg-background-blue h-fit w-full py-16">
    <div class="bg-background-reservation py-16 flex flex-col justify-center items-center">
        <h1 class="!font-bold md:!text-5xl text-3xl !text-center">MEJORANDO TUS RUTAS</h1>
        <div class="bg-background-input w-full p-10 justify-center flex flex-col items-center">
            <form class="flex md:flex-row flex-col gap-5">
                <mat-form-field appearance="fill">
                    <mat-label>Fecha de inicio</mat-label>
                    <input matInput placeholder="dd/mm">
                </mat-form-field>
                <mat-form-field appearance="fill">
                    <mat-label>Hora de inicio</mat-label>
                    <input matInput placeholder="dd/mm">
                </mat-form-field>
                <mat-form-field appearance="fill">
                    <mat-label>Distrito</mat-label>
                    <input matInput placeholder="Ej: Callao">
                </mat-form-field>
            </form>
            <button mat-button class="!bg-button-color !text-white !rounded-xl ">Comenzar la reserva</button>
        </div>
    </div>
</div>