<div class="bg-primary-200 ">
  <h1 class=" text-center uppercase !text-6xl !font-bold p-20">Reseñas y calificación</h1>
  <div class="flex justify-center align-middle pb-40">
<mat-card class="w-3/6  p-2 align-middle !bg-primary-400 !rounded-l-xl">
  <mat-card-header>
    <div mat-card-avatar class="flex !m-0 mx-2 !items-center !border-black !border-2 justify-center align-middle">
       <img mat-card-image class="rounded-full !m-0" src="assets/images/user-icon-up-review.jpeg" width="35">
    </div>
    <div class="flex items-center mx-4 gap-80 !text-xl pb-4">
      <mat-card-title>Marcos Otamendi</mat-card-title>
      <mat-card-title>Puntaje: 5</mat-card-title>
    </div>

  </mat-card-header>
  <div class="flex w-full">
      <form class="w-full">
        <mat-form-field appearance="fill" class="w-full">
          <textarea class="w-full" matInput placeholder="Escribe tu reseña"></textarea>
        </mat-form-field>
      </form>
  </div>
  <mat-card-actions>
    <button mat-flat-button color="primary">Subir Reseña</button>
  </mat-card-actions>
</mat-card>
  </div>





</div>
