<app-navbar></app-navbar>
<main class="flex flex-col items-center justify-center min-h-screen">
  <mat-card class="px-24 py-10 !rounded-xl !bg-primary-500">
    <h1 class="!text-4xl !font-bold mb-5 text-center">ALERTAS</h1>
    <div class="mb-10 mt-10">
      <h2 class="!text-2xl !font-semibold mb-2 flex items-center justify-center text-center">Avisos de seguridad</h2>
      <ul class="!text-lg text-gray-700 mb-4 text-center ">
        <li class="mb-4">Siempre use casco y equipo de protección al andar en bicicletas o scooters eléctricos.</li>
        <li class="mb-4">Respete las normas de tráfico y circule por carriles designados cuando esté en la vía pública.</li>
        <li class="mb-4">Antes de comenzar su viaje, asegúrese de que la bicicleta o el scooter estén en condiciones seguras de funcionamiento.</li>
      </ul>
    </div>
    <div class="mb-10">
      <h2 class="!text-2xl !font-semibold mb-2 flex items-center justify-center text-center">Consejos de uso de vehículos</h2>
      <ul class="text-lg text-gray-700 mb-4 text-center">
        <li class="mb-4">Antes de comenzar su viaje, verifique la carga de la batería para evitar quedarse sin energía en el camino.</li>
        <li class="mb-4">Mantenga una velocidad segura y adecuada para las condiciones del entorno en el que se encuentre.</li>
        <li class="mb-4">Estacione los vehículos en áreas designadas y seguras para evitar obstrucciones y garantizar la accesibilidad para otros usuarios.</li>
      </ul>
    </div>
  </mat-card>
</main>
<app-footer></app-footer>