<app-navbar></app-navbar>
<div class="flex flex-col items-center justify-center bg-blue-100 h-[70.1dvh] w-full py-20">
  <mat-card class="items-center  justify-center max-w-md mx-auto mt-10 p-6 bg-white shadow-lg rounded-lg">
    <mat-card-header class="mb-4">
      <mat-card-title class="text-2xl font-semibold">Configuración de Notificaciones</mat-card-title>
    </mat-card-header>
    <mat-card-content >
      <p class="text-gray-700 mb-4 ">Activa o desactiva las notificaciones según tus preferencias.</p>
      <mat-slide-toggle labelPosition="before" class="  text-gray-700">Notificaciones</mat-slide-toggle>
    </mat-card-content>
  </mat-card>
</div>
<app-footer></app-footer>


