<div class="flex flex-col items-center justify-center min-h-screen custom-bg-color px-20">

  <mat-card class="px-24 py-10 !rounded-xl">
    <h1 class="!text-4xl !font-semibold mb-8 text-center">SOPORTE AL CLIENTE</h1>

    <div class="mb-10 mt-10">
      <h2 class="!text-30 !font-semibold mb-2 flex items-center justify-center">
        <span class="flex items-center">
          <span class="mr-2">Problemas técnicos</span>
          <img src="assets/images/problemastec.png" alt="Icono" class="w-6 h-6" style="margin-left: 8px;">
        </span>
      </h2>
      <p class="text-lg text-gray-700 mb-4 text-justify text-center">Si estás experimentando algún problema técnico con la plataforma EcoGo, como dificultades para registrarte, errores al reservar un vehículo o
        problemas de acceso a la aplicación, estamos aquí para ayudarte. Nuestro equipo técnico está comprometido en solucionar cualquier inconveniente que puedas tener para garantizar
        una experiencia fluida y satisfactoria.</p>
    </div>


    <div class="mb-10">
      <h2 class="!text-30 !font-semibold mb-2 flex items-center justify-center">
        <span class="flex items-center">
          <span class="ml-2">Consultas</span>
          <img src="assets/images/preguntas.png" alt="Icono" class="w-6 h-6" style="margin-left: 8px;">
        </span>
      </h2>
      <p class="text-lg text-gray-700 mb-4 text-justify text-center">¿Tienes preguntas sobre cómo funciona EcoGo, cómo registrarte como usuario, cómo reservar un vehículo o cualquier otra consulta relacionada
        con nuestros servicios? ¡Estamos aquí para responderlas! Nuestro equipo de atención al cliente está disponible para brindarte toda la información que necesites y ayudarte a sacar el máximo provecho
        de nuestra plataforma de movilidad sostenible.</p>
    </div>

    <div class="mb-10">
      <h2 class="!text-30 !font-semibold mb-2 flex items-center justify-center">
        <span class="flex items-center">
          <span class="ml-2">Reclamos</span>
          <img src="../assets/images/reclamos.png" alt="Icono" class="w-6 h-6" style="margin-left: 8px;">
        </span>
      </h2>
      <p class="text-lg text-gray-700 mb-4 text-justify text-center">Si has tenido una experiencia insatisfactoria con nuestro servicio, si has encontrado algún problema durante tu uso de la plataforma o si tienes
        alguna queja o sugerencia para mejorar nuestros servicios, por favor háznoslo saber. En EcoGo valoramos enormemente tus comentarios y estamos comprometidos en resolver cualquier
        problema que puedas haber experimentado y en implementar mejoras para ofrecerte una experiencia aún mejor en el futuro.</p>
    </div>
  </mat-card>

</div>